
<div class="row">


    <div class="col-sm-12">
      <div class="cotainer-fluid well body-block">


  <!-- <div style="margin-top: 10px;">

  </div> -->
  <div class="panel panel-default">
      <div class="panel-body">

        <h1>{{lastData.value}} ºC</h1>

      </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">

          <canvas id="line" class="chart chart-line" chart-data="temps"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick"
          </canvas>


        </div>
      </div>
    </div> <!-- Container-fluid -->
  </div> <!-- col -->
</div> <!-- row -->
